<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <style>
        .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        }

        .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        }

        @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
        }
        @keyframes scale {
        0%, 100% {
            transform: none;
        }
        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
        }
        @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
        }
    </style>
    <title>Reporting App For Hotmail</title>
</head>
<body style="background-color: rgb(61, 60, 60);">
    <div class="card"> 
        <div class="card-header text-center bg-dark">
            <strong style="color: white;"> Reporting App v0.1</strong>
        </div> 
        <div class="card-body" style="background-color: rgb(41, 43, 49);">
            <form action="#" method="POST" class="row g-3">
                <div class="col-6">
                        <div class="mb-3 w-100">
                            <label for="exampleFormControlTextarea1" style="color: white;"><strong>Accounts</strong></label>
                            <textarea class="form-control" name="accounts" id="exampleFormControlTextarea1" rows="4" required>{{acc}}</textarea>
                        </div>
                        <div class="mb-3 w-100">
                          <label for="subject" class="form-label" style="color: white;"><strong>Subject</strong></label>
                          <input type="text" name="subject" class="form-control" id="subject" value="{{subject}}" required>
                        </div>
                        <div class="mb-3 w-100">
                          <label for="link" class="form-label" style="color: white;"><strong>Link</strong></label>
                          <input type="text" name="link" class="form-control" id="link" value="{{link}}" required>
                        </div>
                        <div class="mb-3 w-100">
                            <label for="threads" class="form-label" style="color: white;"><strong>Threads</strong></label>
                            <input type="text" name="threads" class="form-control" id="threads" value="{{n}}" required>
                        </div>
        
                </div>
                <div class="col-6">
                        <div class="mb-3">
                            <label for="browsers" style="color: white;"><strong>Browsers</strong></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Radio" id="flexRadioDefault1" value="chrome" >
                            <label class="form-check-label" for="flexRadioDefault1" style="color: white;">Google Chrome</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Radio" id="flexRadioDefault2" value="firefox" >
                            <label class="form-check-label" for="flexRadioDefault2" style="color: white;">Firefox</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Radio" id="flexRadioDefault3" value="comodo" >
                            <label class="form-check-label" for="flexRadioDefault3" style="color: white;">Comodo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="box" id="inlineCheckbox8" value="hide_browser" >
                            <label class="form-check-label" for="inlineCheckbox8" style="color: white;">Hide Browser</label>
                        </div>
                        <br><br>
                        <div class="mb-3">
                            <label for="mark_as_read" style="color: white;"><strong>Mark as read</strong></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Radio2" id="flexRadioDefault4" value="when_selected" >
                            <label class="form-check-label" for="flexRadioDefault4" style="color: white;">When Selected</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Radio2" id="flexRadioDefault5" value="when_changed" >
                            <label class="form-check-label" for="flexRadioDefault5" style="color: white;">When Changed</label>
                        </div>
                        <br><br>
                        <div class="mb-3">
                            <label for="task" style="color: white;"><strong>Tasks</strong></label>
                        </div>
                        <!--
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox1" value="open_only" >
                            <label class="form-check-label" for="inlineCheckbox1" style="color: white;">Open only</label>
                        </div>-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox2" value="archive" >
                            <label class="form-check-label" for="inlineCheckbox2" style="color: white;">Archive</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox3" value="categorize" >
                            <label class="form-check-label" for="inlineCheckbox3" style="color: white;">Categorize</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox4" value="add_contact" >
                            <label class="form-check-label" for="inlineCheckbox4" style="color: white;">Add contact</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox5" value="flag" >
                            <label class="form-check-label" for="inlineCheckbox5" style="color: white;">Flag</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox6" value="offer_click_inbox" >
                            <label class="form-check-label" for="inlineCheckbox6" style="color: white;">Offer click inbox</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox" id="inlineCheckbox7" value="reply" >
                            <label class="form-check-label" for="inlineCheckbox7" style="color: white;">Reply</label>
                        </div><br>
                        <div style="height: 120px;">
                            <div id='tasks'></div>
                            <div id='reply_msg'></div>
                        </div>
                        
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                            var hideboxes = document.querySelectorAll('input[type=checkbox][name=box]');
                            vals = []  
                                for (var hidebox of hideboxes)
                                {
                                    hidebox.addEventListener('change', function(event)
                                    {   
                                        if (event.target.checked) {
                                            vals[0] = event.target.value
                                            console.log(vals)           
                                        }
                                    });
                                    
                                }
                                
                            }, false);
                            document.addEventListener('DOMContentLoaded', function() {
                            var checkboxes = document.querySelectorAll('input[type=checkbox][name=checkbox]');
                            tasks = []
                                for (var checkbox of checkboxes)
                                {
                                    checkbox.addEventListener('change', function(event)
                                    {   
                                        if (event.target.checked) {
                                            tasks.push(`${event.target.value}`)
                                            console.log(tasks)
                                            document.getElementById('tasks').innerHTML = '<div style="color: white;"> <b style="color: red;"> Order : </b>'+tasks.join("    -    ")+' </div>  <input type="text" name="tasks" class="form-control" value = '+tasks+' id="tasks"  hidden> <br>'
                                        }
                                        else {
                                            tasks = tasks.filter((task)=>(task !== event.target.value))
                                            console.log(tasks)
                                            document.getElementById('tasks').innerHTML = '<div style="color: white;"> <b style="color: red;"> Order : </b> '+tasks.join("    -    ")+' </div>  <input type="text" name="tasks" class="form-control" value = '+tasks+' id="tasks"  hidden> <br>'
                                        }
                                    });
                                    
                                }
                                
                            }, false);
                            document.addEventListener('DOMContentLoaded', function() {
                            var checkboxes = document.querySelectorAll('input[id=inlineCheckbox7]');
                                for (var checkbox of checkboxes)
                                {
                                    checkbox.addEventListener('change', function(event)
                                    {   
                                        if (event.target.checked) {
                                            document.getElementById('reply_msg').innerHTML = '<label for="reply_msg" style="color: white;"><strong>Reply Message</strong></label> <input type="text" name="reply_msg" class="form-control"  id="reply_msg" > <br>'
                                        }
                                        else {
                                            document.getElementById('reply_msg').innerHTML = ''
                                        }
                                    });
                                    
                                }
                                
                            }, false);
                            $(document).ready(function () {
                                $('#submitBtn').click(function() {
                                checked = $("input[type=checkbox]:checked").length;

                                if(!checked) {
                                    alert("You must check at least one checkbox in Tasks!");
                                    return false;
                                }

                                });
                            });       
                        </script>
                        
                </div>
                <div class="d-flex justify-content-center" style="padding-top: 50px;">
                    <div><button type="submit" class="btn btn-success btn-lg" id="submitBtn" style="padding-left: 25px; padding-right: 25px;">Start</button></div>
                    <div><a href="/pause" class="btn btn-warning btn-lg" style="padding-left: 25px; padding-right: 25px; margin-left: 20px; margin-right: 20px;">Pause</a></div>
                    <div><a href="/stop" class="btn btn-danger btn-lg" style="padding-left: 25px; padding-right: 25px;">Stop</a></div>
                    
                </div>
                <div class="justify-content-center d-flex" id="fade">
                    <script>
                        setTimeout(function() { // start a delay
                        var fade = document.getElementById("fade"); // get required element
                        fade.style.opacity = 1; // set opacity for the element to 1
                        var timerId = setInterval(function() { // start interval loop
                            var opacity = fade.style.opacity; // get current opacity
                            if (opacity == 0) { // check if its 0 yet
                            clearInterval(timerId); // if so, exit from interval loop
                            } else {
                            fade.style.opacity = opacity - 0.05; // else remove 0.05 from opacity
                            }
                        }, 100); // run every 0.1 second
                        }, 10000);
                    </script>
                    <svg class="{{class1}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="{{class2}}" cx="26" cy="26" r="25" fill="none"/>
                        <path class="{{class3}}" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>